---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Contact us', href: 'tel:+01-323-586-0800', icon: 'tabler:phone-call' }}
    callToAction2={{ text: 'Learn more', href: '#features' }}
    image={{ src: import('~/assets/images/LACC-exterior.jpg'), alt: 'LACC Exterior' }}
  >
    <Fragment slot="title">
      LA Center Closeout 
      <!-- <span class="hidden xl:inline"></span>
      <span class="text-accent dark:text-white highlight"></span> -->
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">LA Center Closeout</span> is the premier liquidation center for name-brand wholesale goods in Los Angeles, California
        </span
      >
      <!-- <span class="block mb-1 sm:hidden font-bold text-blue-600"></span> -->

    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    highlight="The LA Center Closeout Difference"
    title="Why you'll be happy to work with us"
    subtitle="We are the best in wholesale of liquidation, overstock, and returns of high quality, name-brand items"
    items={[
      [
        {
          title: 'High quality',
          description:
            'We only sell the highest quality, American name-brand products',
          icon: 'tabler:thumb-up',
        },
        {
          title: 'Wholesale',
          description:
            'We sell by the truckload and by the pallet',
          icon: 'tabler:forklift',
        },
        {
          title: 'Customer Service',
          description:
            'We offer professional, personalized customer service',
          icon: 'tabler:list-check',
        },
      ],
      [
        {
          title: 'Grow your business',
          description:
            'Work with the best in wholesale to grow your business',
          icon: 'tabler:rocket',
        },
        {
          title: 'Long term purchasing relationships',
          description:
            'We work together with you to build business relationships for the long term',
          icon: 'tabler:arrows-right-left',
        },
        {
          title: 'Always growing and expanding markets',
          description:
            'We are always looking for new sellers and buyers to expand the reach of high quality closeout goods',
          icon: 'tabler:bulb',
        },
      ],
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    highlight="Our products"
    title="What sort of products do you sell?"
    items={[
      {
        title: 'Makeup',
        description:
          'The highest quality makeup ready for resale',
      },
      {
        title: 'Cleaning supplies',
        description:
          'Name brand cleaning supplies',
      },
      {
        title: 'Home goods',
        description:
          'The best in home goods',
      },
    ]}
    image={{
      src: import('~/assets/images/LACC-makeup.jpg'),
      alt: 'Makeup on desk',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">American name-brand goods</h3>
      We sell the finest in American name brand closeout goods
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Maybelline, Essie, Covergirl',
      },
      {
        title: 'Pampers, GoodNites, Kotex, Depend',
      },
      {
        title: 'Clorox, Lysol, Air wick, Woolite',
      },
      {
        title: 'Inventory always changing, call us for updated product lists',
      },
    ]}
    image={{
      src: import('~/assets/images/LACC-makeup-box.jpg'),
      alt: 'Vintage Image',
    }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    title="Let's work together."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Contact us</span>',
        description:
          'We have a consultation call and assess how our business goals align',
        icon: 'tabler:phone',
      },
      {
        title: 'Step 2: <span class="font-medium">Place order</em>',
        description:
          'Our streamlined ordering process ensures a smooth and efficient experience for the client. As the orders are processed and shipped, the client gains access to our premium liquidation merchandise, exceptional customer support, and unbeatable deals.',
        icon: 'tabler:box',
      },
      {
        title: 'Step 3: <span class="font-medium">Ongoing support</span>',
        description:
          'We are here every step of the way to ensure business runs smoothly for both parties',
        icon: 'tabler:users',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: import('~/assets/images/LACC-warehouse-interior.jpg'),
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->
<!--  
  <Features2
    title="Most used widgets"
    subtitle="Provides frequently used components for building websites using Tailwind CSS"
    highlight="Components"
    items={[
      {
        title: 'Headers',
        description:
          'In general, Headers contain information that makes it easier for visitors to interact with the website.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          'If you want your website to get more than its fair share of visitors, the Hero section needs to be stellar.',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Display your product in action and how the Features actually create a solution for your target customer.',
        icon: 'flat-color-icons:todo-list',
      },
      {
        title: 'Content',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'icon-park:page-template',
      },
    ]}
  />
-->
  <!-- HighlightedPosts Widget ******* -->

  <!-- <LatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  /> -->

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Answers to some of our most frequently asked questions"
    highlight="FAQs"
    items={[
      [
        {
          question: 'What is a wholesale closeout liquidator?',
          answer:
            'A wholesale closeout liquidator is a company that specializes in purchasing excess inventory, overstock, and discontinued products from manufacturers, retailers, and other sources. These products are then sold at significantly discounted prices to businesses and individuals looking to stock their inventory with quality merchandise at a fraction of the regular retail cost.',
        },
        {
          question: 'Who can buy from a wholesale closeout liquidator business?',
          answer:
            "LA Center Closeout caters to a wide range of customers, including retailers, resellers, small business owners, e-commerce sellers, and individuals looking for great deals on high-quality merchandise. Whether you're a seasoned business pro or just starting, our products are available for you to purchase by the pallet or truckload.",
        },
        {
          question: "How do I place an order?",
          answer:
            "Placing an order is easy and convenient. Simply call or email to receive our most updated inventory list and select the products you wish to purchase. Provide us with your billing and shipping information, then make a secure payment. If you need any further assistance, our customer support team is always available to help you through the process.",
        },
      ],
      [
        {
          question: "What payment methods do you accept?",
          answer:
            "We accept various payment methods to accommodate our customers' preferences. These include major credit cards (Visa, MasterCard, American Express), PayPal, and other secure online payment options. Rest assured that all transactions are encrypted and secure for your peace of mind.",
        },
        {
          question: 'Is there a minimum order quantity?',
          answer:
            "We generally sell by the pallet and by the truckload, though some items are available by the box and in smaller quantities. Please talk to a sales representative for further details.",
        },
        {
          question: 'How can I stay updated on new arrivals and special offers?',
          answer:
            "Coming in to see us at our warehouse in Los Angeles, California is the best way to stay up to date on the exciting deals that we offer, which may change by the day.",
        },
      ],
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    items={[
      { name: 'Years in business', value: '34' },
      { name: 'Happy customers', value: '500K' },
      { name: 'Pallets sold', value: '2M' },
      { name: 'Countries', value: '5' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'Contact us',
      href: 'tel:+01-323-586-0800',
      icon: 'tabler:phone',
    }}
  >
    <Fragment slot="title">
      LA Center Closeout
    </Fragment>

    <Fragment slot="subtitle">
      The best in wholesale of closeout name-brand, American goods.
    </Fragment>
  </CallToAction>
</Layout>
